# Group 11 Project Proposal

### Introduction

Tennis is the world's most popular individual sport worldwide. At the elite level, the sport is played on various types of surfaces including hard (US Open), clay (Paris), and grass (Wimbledon). The surface used can greatly affect the game since the bounces go at different speeds. For example, clay slows the ball down thus giving precise players an advantage whereas grass prefers quicker players. Therefore, our research question is that: Based on the number of aces in a game, will the surface of a court be hard, or clay? 

To answer the question, we will use the data set provided by “Tennis Data”.  There is a mix of qualitative and quantitative variables about various tennis games. Each observation is a specific tennis game whereas the variables provide insight into the score, number of aces, surface, tournament and more.

### Preliminary exploratory data analysis: 

Demonstrate that the dataset can be read from the web into Python 

Clean and wrangle your data into a tidy format 

Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data.  

Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [21]:
import pandas as pd 

tennis_2017=pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2017.csv').loc[:, [
    'match_num',
    'surface',
    'minutes',
    'w_ace',
    'l_ace']
].dropna().assign(year = '2017')

tennis_2018 = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2016.csv').loc[:, [
    'match_num',
    'surface',
    'minutes',
    'w_ace',
    'l_ace']
].dropna().assign(year = '2018')


tennis_2019 = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2019.csv').loc[:, [
    'match_num',
    'surface',
    'minutes',
    'w_ace',
    'l_ace']
].dropna().assign(year = '2019')

##Combines the csvs
files= [tennis_2017,tennis_2018,tennis_2019]
tennis_pre = pd.concat(files)

##Sum aces and drop other cols
tennis = tennis_pre.assign(total_aces = tennis_pre["w_ace"] + tennis_pre["l_ace"]).drop(columns = ["w_ace","l_ace"])

   match_num surface  minutes  year  total_aces
0        271    Hard     91.0  2017        11.0
1        272    Hard    130.0  2017        22.0
2        273    Hard    125.0  2017         8.0
3        275    Hard     75.0  2017        22.0
4        276    Hard     90.0  2017         2.0

In [33]:
import altair as alt

#The following code makes a scatter plot showing relationship between minutes and total aces.

#Not sure why an error is popping up hear
aces_per_surface = alt.Chart(tennis).mark_point(opacity=0.4).encode(
    x=alt.X("minutes").title("Game Length in Minutes").scale(zero=False),
    y=alt.Y("total_aces").title("Total Aces in the Game").scale(zero=False),
    color="surface")

TypeError: 'UndefinedType' object is not callable

### Citations