# Group 11 Project Proposal

### Introduction

Tennis is the world's most popular individual sport worldwide. At the elite level, the sport is played on various types of surfaces including hard (US Open), clay (Paris), and grass (Wimbledon). The surface used can greatly affect the game since the bounces go at different speeds. For example, clay slows the ball down thus giving precise players an advantage whereas grass prefers quicker players. Therefore, our research question is that: Based on the number of aces in a game, will the surface of a court be hard, or clay? 

To answer the question, we will use the data set provided by “Tennis Data”.  There is a mix of qualitative and quantitative variables about various tennis games. Each observation is a specific tennis game whereas the variables provide insight into the score, number of aces, surface, tournament and more.

### Preliminary exploratory data analysis: 

Demonstrate that the dataset can be read from the web into Python 

Clean and wrangle your data into a tidy format 

Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data.  

Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [3]:
import pandas as pd 
pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2017.csv')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2017-M020,Brisbane,Hard,32,A,20170102,271,104678,NaN,NaN,...,53.0,33.0,13.0,11.0,6.0,10.0,29.0,1385.0,100.0,604.0
1,2017-M020,Brisbane,Hard,32,A,20170102,272,106378,NaN,NaN,...,67.0,39.0,27.0,12.0,9.0,10.0,45.0,1001.0,141.0,443.0
2,2017-M020,Brisbane,Hard,32,A,20170102,273,106298,6.0,NaN,...,42.0,29.0,16.0,12.0,0.0,4.0,15.0,2156.0,25.0,1585.0
3,2017-M020,Brisbane,Hard,32,A,20170102,275,111577,NaN,Q,...,37.0,27.0,7.0,10.0,2.0,5.0,105.0,570.0,34.0,1255.0
4,2017-M020,Brisbane,Hard,32,A,20170102,276,111442,NaN,WC,...,43.0,23.0,13.0,9.0,10.0,15.0,79.0,689.0,160.0,372.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2906,2017-9210,Laver Cup,Hard,8,A,20170922,105,104745,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9465.0,21.0,2175.0
2907,2017-9210,Laver Cup,Hard,8,A,20170922,106,106401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,2245.0,19.0,2355.0
2908,2017-9210,Laver Cup,Hard,8,A,20170922,107,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4470.0,16.0,2445.0
2909,2017-9210,Laver Cup,Hard,8,A,20170922,108,104545,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,17.0,2425.0,1.0,9465.0
2910,2017-9210,Laver Cup,Hard,8,A,20170922,109,105227,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4155.0,72.0,689.0

### Common Mistakes in proposals, according to the TA: 
These are just notes I think that would be hlepful 
Need good data set 
More features than you need -> filter columns nad state and explain  whihch ones we are using

### Citations